

.mat-toolbar {
    
    background: #ffffff;
    width: 100%;
    border-radius: 0px;
}

.under{
    list-style: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

}

.button1{
    width: 180px;
  height: 36px;
  border-radius: 16px;
  background-color: rgba(216, 216, 216, 0);
  border: solid 1px #25948a;
  color: #f5a623;
}

.backimg{
    background-image: url('/assets/bg.jpg');
    height: 600px;
    width: 100%;
    background-size: cover;
}

.matter{
    font-family: 'Open Sans', sans-serif;
    text-align: center;   
}

.matter h1{
    
        font-size: 43px;
        font-weight: 300;
        margin-top: 246px;
        color: white;
}
.matter h2{
         font-size: 35px;
         color: white;
}

.mldcards{
    font-family: 'Open Sans', sans-serif;
    background-color: #f4fafa;
    width: 100%;
}

.mld h2{
    font-size: 38px;
    text-align: center;
    font-weight: 300;
    margin-top: 44px;
    color: #1caba0;
}

.mldcards1{
    font-family: 'Open Sans', sans-serif;
    background-color: #f4fafa;
    width: 100%;
}

.mld1 h2{
    font-size: 38px;
    text-align: center;
    font-weight: 300;
    margin-top: 44px;
    color: #1caba0;
}


.image p{
    font-size: 13px;
    line-height: 1.63;
    font-weight: 300;
    color: #5e6a6e;
}

.cad{
    text-align: center;
    margin-top: 20px;
    align-items:inherit;
}

.cad1{
   
    text-align: center;
    margin-top: 40px;
    align-items:inherit;
    color: #1caba0;
    
}

.image1 img{
    height: 110px;
    width: 110px;
}
.stepper{
    font-family: 'Open Sans', sans-serif;
}

.stepper h2{

        font-size: 38px;
        // text-align: center;
        font-weight: 300;
        margin-top: 44px;
        color: #1caba0;

}

.procnum{
    
font-family: 'Open Sans';    
   width: 40px;
   height: 30px;
   padding-top: 10px;
   border-radius: 50%;
   text-align: center;
   margin: auto;
   color: #1caba0;
   background-color: white;
   border: solid 2px #dfe6e5;
}

.imagline{
    
    overflow: hidden;
}

.career h4{
    font-family: 'Open Sans';
    color: #1caba0;
    text-align: center;
}

.career p{
    font-family: 'Lato';
    text-align: center;
    font-size: 13px;
    line-height: 1.63;
    font-weight: 300;
    color: #5e6a6e;
}

.marg{
    margin-top: 60px;
}

.padd{
    margin-bottom: 50px;
}

.social{
    font-family: 'Open Sans', sans-serif;
    background-color: #f4fafa;
    width: 100%;
}

.soc h2{
    font-size: 38px;
    text-align: center;
    font-weight: 300;
    margin-top: 44px;
    color: #1caba0;
}

.soci{
   
    text-align: center;
    margin-top: 40px;
    align-items:inherit;
    color: #1caba0;
    margin-bottom: 40px;
    
}

.card{
    font-family: 'Open Sans', sans-serif;
    background-color: #f4fafa;
    width: 100%;
}

.cardh h2{
    font-size: 38px;
    text-align: center;
    font-weight: 300;
    margin-top: 44px;
    color: #1caba0;
}

.cardi{
   
    text-align: center;
    margin-top: 40px;
    align-items:inherit;
    color: #1caba0;
    margin-bottom: 40px;
    
}

.foot{
    height: auto;
    background-color: #404f54;
    
    // text-align: center;
}
.foot1{
    margin-top: 30px;
    
}

.para{
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    color: #ffffff;
    // margin-bottom: 50px;
}

.foot1 h4{
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;

}